.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}
.footer {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #F8F8F8;
  border-top: 1px solid #ECECEC;
  &:active {
    color: #FF5000;
  }
}
.navlink {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: #666;
  i {
    font-size: 2.4rem;
  }
}
.footer .active {
  color: #FF5000;
}